<head>
    <title>Todolist</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.png">
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>
<div class="box" id="heading">
  
        <h1 ><%=listtitle%> </h1>

</div>

<div class="box"><uL>

    <% for(let i=0;i<newitems.length;i++){%>
        <div class="item">
              <input type="checkbox" name="" value="">
            <p> <%=newitems[i] %></p>
        </div>
  <%  }%>

</uL>
<form action="/" method="post" class="item">
    <input type="text" name="newitem" placeholder="Add the Task" autocomplete="off">
    <button type="submit" name="list" value=<%=listtitle%>>+</button>
</form></div>


</body>